recipe,oz,price
cedar,2,6
cedar,3,9
cedar,4,12
cedar,5,15
coffee-milk,2,5
coffee-milk,3,8
coffee-milk,4,10
coffee-milk,5,13
hippie-bar,2,6
hippie-bar,3,9
hippie-bar,4,12
hippie-bar,5,15
lavender,2,6
lavender,3,9
lavender,4,12
lavender,5,15
lemon-poppyseed,2,5
lemon-poppyseed,3,8
lemon-poppyseed,4,10
lemon-poppyseed,5,13
oats-honey,2,5
oats-honey,3,8
oats-honey,4,10
oats-honey,5,13
orange-dreamsicle,2,5
orange-dreamsicle,3,8
orange-dreamsicle,4,10
orange-dreamsicle,5,13
peppermint,2,6
peppermint,3,9
peppermint,4,12
peppermint,5,15
