recipe,display_name,ingredients,subtitle
orange-dreamsicle,Orange Dreamsicle,"Coconut Oil, Palm Oil, Safflower Oil, Glycerin, Goat's Milk, Purified Water, Sodium Hydroxide, Sorbitol, Propylene Glycol, Sorbitan Oleate, Oat Protein, Titanium Dioxide, Mica, Parfum, Citrus Sinensis Peel Oil Expressed, Citrus Aurantium Dulcis Peel",
